<h1 class="devise-card__title">Mot de passe oublié</h1>

<p class="devise-card__subtitle">Saisissez votre e-mail pour recevoir un lien de réinitialisation</p>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                placeholder: "Email",
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Envoyer le lien" %>
  </div>
<% end %>

<p class="devise-card__footer">
  <%= link_to "Retour à la connexion", new_session_path(resource_name) %>
</p>
